Repository haru-speak/server, pull requests merged in 2023-01, with the labels that each got.

#5 목업 API 함께 만들어보기 및 예시 컨트롤러 테스트 추가
  be/src/main/java/com/example/be/common/CodeAndMessages.java
  be/src/main/java/com/example/be/common/config/SpeakingLogTypeUpperCaseConverter.java
  be/src/main/java/com/example/be/common/config/SwaggerConfig.java
  be/src/main/java/com/example/be/common/config/WebConfig.java
  be/src/main/java/com/example/be/common/exception/BaseException.java
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/exception/GlobalExceptionHandler.java
  be/src/main/java/com/example/be/common/exception/speakinglog/InvalidSpeakingLogTypeException.java
  be/src/main/java/com/example/be/common/response/BaseResponse.java
  be/src/main/java/com/example/be/common/response/ResponseCodeAndMessages.java
  be/src/main/java/com/example/be/core/application/QuestionService.java
  be/src/main/java/com/example/be/core/application/SpeakingLogService.java
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogModifyRequest.java
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogRequest.java
  be/src/main/java/com/example/be/core/application/dto/response/CommentResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/QuestionResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogDetailResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogsResponse.java
  be/src/main/java/com/example/be/core/domain/SpeakingLogType.java
  be/src/main/java/com/example/be/core/repository/.keep
  be/src/main/java/com/example/be/core/web/QuestionController.java
  be/src/main/java/com/example/be/core/web/SpeakingLogController.java
  be/src/test/java/com/example/be/core/web/SpeakingLogControllerFindByTypeTest.java
Labels: 👨‍👨‍👦‍👦 common, 📜 docs, 🐣 feature

#9 스피킹 로그 조회시 SpeakingLogType 및 LocalDate 검증 및 예외처리 부분 리팩토링
  be/src/main/java/com/example/be/common/config/SpeakingLogTypeUpperCaseConverter.java
  be/src/main/java/com/example/be/common/config/WebConfig.java
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/exception/GlobalExceptionHandler.java
  be/src/main/java/com/example/be/common/exception/speakinglog/InvalidSpeakingLogDateException.java
  be/src/main/java/com/example/be/core/application/SpeakingLogService.java
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogConditionRequest.java
  be/src/main/java/com/example/be/core/domain/SpeakingLogType.java
  be/src/main/java/com/example/be/core/web/SpeakingLogController.java
  be/src/test/java/com/example/be/core/web/SpeakingLogControllerFindByTypeTest.java
Labels: ♻️ refactor

#12 deploy: [#8] Dockerfile 작성
  be/docker/Dockerfile
Labels: ⚙️ deploy, 🏗️ infra

#17 도메인 공통 정보를 담는 Base Entity 생성
  be/src/main/java/com/example/be/common/config/JpaAuditingConfiguration.java
  be/src/main/java/com/example/be/common/config/WebConfig.java
  be/src/main/java/com/example/be/core/domain/BaseEntity.java
Labels: 🐣 feature

#16 DTO 상세 설명을 위한 추가적인 Swagger 어노테이션 작성
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogConditionRequest.java
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogModifyRequest.java
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogRequest.java
  be/src/main/java/com/example/be/core/application/dto/response/CommentResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/QuestionResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogDetailResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogsResponse.java
  be/src/main/java/com/example/be/core/web/QuestionController.java
  be/src/main/java/com/example/be/core/web/SpeakingLogController.java
Labels: 📜 docs, 🐣 feature

#25 SpeakingLogController 상세 조회 테스트 완료
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogDetailResponse.java
  be/src/main/java/com/example/be/core/web/SpeakingLogController.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerDetailFindTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerFindByTypeTest.java
Labels: 🧪 test, ♻️ refactor, 🚨 Emergency

#27 SecurityConfig 설정 및 회원가입 DTO와 Member 도메인 생성
  be/build.gradle
  be/src/main/java/com/example/be/common/config/SecurityConfig.java
  be/src/main/java/com/example/be/core/application/dto/request/MemberFormRequest.java
  be/src/main/java/com/example/be/core/domain/Member.java
Labels: 🐣 feature

#33 SpeakingLog 상세 조회 관련 서비스 로직 작성
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/exception/speakinglog/NotFoundSpeakingLogIdException.java
  be/src/main/java/com/example/be/core/application/SpeakingLogService.java
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogConditionRequest.java
  be/src/main/java/com/example/be/core/application/dto/response/CommentResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/SpeakingLogsResponse.java
  be/src/main/java/com/example/be/core/domain/member/Member.java
  be/src/main/java/com/example/be/core/domain/speakinglog/Comment.java
  be/src/main/java/com/example/be/core/domain/speakinglog/Favorite.java
  be/src/main/java/com/example/be/core/domain/speakinglog/SpeakingLog.java
  be/src/main/java/com/example/be/core/domain/speakinglog/SpeakingLogType.java
  be/src/main/java/com/example/be/core/repository/.keep
  be/src/main/java/com/example/be/core/repository/member/MemberRespository.java
  be/src/main/java/com/example/be/core/repository/speakinglog/CommentRepository.java
  be/src/main/java/com/example/be/core/repository/speakinglog/FavoriteRepository.java
  be/src/main/java/com/example/be/core/repository/speakinglog/SpeakingLogRepository.java
  be/src/main/java/com/example/be/core/web/SpeakingLogController.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogDetailFindTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/InitSpeakingLogControllerTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerDetailFindTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerFindByTypeTest.java
  be/src/test/resources/application.yml
Labels: 🐣 feature, ♻️ refactor

#38 SpeakingLog 전체 조회 기능 구현
  be/src/main/java/com/example/be/core/application/SpeakingLogService.java
  be/src/main/java/com/example/be/core/application/dto/request/SpeakingLogConditionRequest.java
  be/src/main/java/com/example/be/core/domain/member/Member.java
  be/src/main/java/com/example/be/core/repository/member/MemberRepository.java
  be/src/main/java/com/example/be/core/repository/speakinglog/CommentRepository.java
  be/src/main/java/com/example/be/core/repository/speakinglog/SpeakingLogRepository.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogDetailFindTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogFindAllTest.java
Labels: 🐣 feature, 🧪 test, ♻️ refactor

#39 SpeakingLog 생성 기능 구현 및 관련 테스트 작성(with 테스트 격리 설정 추가)
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/exception/speakinglog/NotFoundMemberIdException.java
  be/src/main/java/com/example/be/core/application/SpeakingLogService.java
  be/src/main/java/com/example/be/core/web/SpeakingLogController.java
  be/src/test/java/com/example/be/core/application/InitServiceTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogCreateTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogDetailFindTest.java
  be/src/test/java/com/example/be/core/tool/DataBaseConfigurator.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerCreateTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerDeleteTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerModifyTest.java
Labels: 🐣 feature, 🧪 test, ♻️ refactor

#41 SpeakingLog 삭제 기능 구현
  be/src/main/java/com/example/be/core/application/SpeakingLogService.java
  be/src/main/java/com/example/be/core/repository/speakinglog/SpeakingLogRepository.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogDeleteTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogFindAllTest.java
Labels: 🐣 feature, 🧪 test

#47 SpeakingLog 수정 기능 구현 및 관련 테스트 코드 작성
  be/src/main/java/com/example/be/core/application/SpeakingLogService.java
  be/src/main/java/com/example/be/core/domain/speakinglog/SpeakingLog.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogModifyTest.java
Labels: 🐣 feature, 🧪 test

#48 스터디 관련 컨트롤러 및 목업 API 작성
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/exception/study/InvalidStudyTypeException.java
  be/src/main/java/com/example/be/common/response/ResponseCodeAndMessages.java
  be/src/main/java/com/example/be/core/application/StudyService.java
  be/src/main/java/com/example/be/core/application/dto/request/StudyRequest.java
  be/src/main/java/com/example/be/core/application/dto/response/StudiesResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/StudyDetailResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/StudyResponse.java
  be/src/main/java/com/example/be/core/domain/study/StudyType.java
  be/src/main/java/com/example/be/core/web/StudyController.java
Labels: 👨‍👨‍👦‍👦 common, 📜 docs

#49 과제 관련 컨트롤러 및 목업 API 작성
  be/src/main/java/com/example/be/common/response/ResponseCodeAndMessages.java
  be/src/main/java/com/example/be/core/application/AssignmentService.java
  be/src/main/java/com/example/be/core/application/dto/request/AssignmentRequest.java
  be/src/main/java/com/example/be/core/application/dto/request/AssignmentSubmitRequest.java
  be/src/main/java/com/example/be/core/application/dto/response/AssignmentDetailResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/AssignmentResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/AssignmentsResponse.java
  be/src/main/java/com/example/be/core/web/AssignmentController.java
Labels: 👨‍👨‍👦‍👦 common, 📜 docs

#40 Member 회원가입 기능 구현 및 테스트 작성
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/response/ResponseCodeAndMessages.java
  be/src/main/java/com/example/be/core/application/MemberService.java
  be/src/main/java/com/example/be/core/application/dto/request/MemberFormRequest.java
  be/src/main/java/com/example/be/core/application/dto/response/MemberResponse.java
  be/src/main/java/com/example/be/core/domain/member/Member.java
  be/src/main/java/com/example/be/core/repository/member/MemberRepository.java
  be/src/main/java/com/example/be/core/web/MemberController.java
  be/src/test/java/com/example/be/core/application/member/MemberServiceTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogDetailFindTest.java
  be/src/test/java/com/example/be/core/web/member/InitMemberControllerTest.java
  be/src/test/java/com/example/be/core/web/member/MemberControllerJoinTest.java
Labels: 🐣 feature, 🧪 test

#64 스터디 생성 서비스 로직 및 관련 테스트 코드 작성
  be/src/main/java/com/example/be/core/application/StudyService.java
  be/src/main/java/com/example/be/core/repository/study/StudyMemberRepository.java
  be/src/test/java/com/example/be/core/application/study/StudyCreateTest.java
Labels: 🐣 feature, 🧪 test

#65 Study 전체 조회 관련 서비스 로직 및 테스트 작성
  be/src/main/java/com/example/be/core/application/StudyService.java
  be/src/main/java/com/example/be/core/repository/study/StudyCommentRepository.java
  be/src/main/java/com/example/be/core/repository/study/StudyFavoriteRepository.java
  be/src/test/java/com/example/be/core/application/study/StudyFindAllTest.java
  be/src/test/java/com/example/be/core/tool/DataBaseConfigurator.java
Labels: 🐣 feature, 🧪 test

#67 스터디 상제 조회 서비스 로직 및 관련 테스트 코드 작성
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/exception/study/NotFoundStudyIdException.java
  be/src/main/java/com/example/be/core/application/StudyService.java
  be/src/main/java/com/example/be/core/application/dto/response/StudyCommentResponse.java
  be/src/main/java/com/example/be/core/application/dto/response/StudyDetailResponse.java
  be/src/main/java/com/example/be/core/repository/study/StudyCommentRepository.java
  be/src/test/java/com/example/be/core/application/study/StudyFindDetailTest.java
Labels: 🐣 feature, 🧪 test

#69 스터디 수정, 삭제 관련 서비스 로직 및 테스트 작성
  be/src/main/java/com/example/be/core/application/StudyService.java
  be/src/main/java/com/example/be/core/domain/study/Study.java
  be/src/main/java/com/example/be/core/repository/study/StudyCommentRepository.java
  be/src/main/java/com/example/be/core/repository/study/StudyFavoriteRepository.java
  be/src/test/java/com/example/be/core/application/study/StudyDeleteTest.java
  be/src/test/java/com/example/be/core/application/study/StudyModifyTest.java
Labels: 🐣 feature, 🧪 test

#75 과제 전체 조회 서비스 로직 및 테스트 코드 작성
  be/src/main/java/com/example/be/core/application/AssignmentService.java
  be/src/main/java/com/example/be/core/application/dto/response/AssignmentResponse.java
  be/src/main/java/com/example/be/core/repository/assignment/AssignmentMemberRepository.java
  be/src/main/java/com/example/be/core/repository/study/StudyMemberRepository.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentFindAllTest.java
  be/src/test/java/com/example/be/core/application/study/StudyCreateTest.java
  be/src/test/java/com/example/be/core/tool/DataBaseConfigurator.java
Labels: 🐣 feature, 🧪 test

#76 과제 생성 서비스 로직 및 테스트 작성
  be/src/main/java/com/example/be/core/application/AssignmentService.java
  be/src/main/java/com/example/be/core/application/dto/request/AssignmentRequest.java
  be/src/main/java/com/example/be/core/application/dto/response/AssignmentDetailResponse.java
  be/src/main/java/com/example/be/core/repository/assignment/AssignmentMemberRepository.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentCreateTest.java
  be/src/test/java/com/example/be/core/tool/DataBaseConfigurator.java
Labels: 🐣 feature, 🧪 test

#79 과제 수정 서비스 로직 및 테스트 작성
  be/src/main/java/com/example/be/common/exception/ErrorCodeAndMessages.java
  be/src/main/java/com/example/be/common/exception/assignment/NotFoundAssignmentIdException.java
  be/src/main/java/com/example/be/core/application/AssignmentService.java
  be/src/main/java/com/example/be/core/domain/assignment/Assignment.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentModifyTest.java
Labels: 🐣 feature, 🧪 test

#78 과제 삭제 서비스 로직 및 테스트 코드 작성
  be/src/main/java/com/example/be/common/exception/assignment/NotFoundAssignmentIdException.java
  be/src/main/java/com/example/be/core/application/AssignmentService.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentDeleteTest.java
Labels: 🐣 feature, 🧪 test

#77 과제 상세 조회 서비스 로직 작성 및 테스트 코드 작성
  be/src/main/java/com/example/be/core/application/AssignmentService.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentDetailFindTest.java
Labels: 🐣 feature, 🧪 test

#84 Swagger UI에 Token 넣도록 변경 및 OAuth Login 구현 이후 테스트 깨짐 문제 해결
  be/src/main/java/com/example/be/common/config/SwaggerConfig.java
  be/src/main/java/com/example/be/oauth/controller/LoginController.java
  be/src/test/java/com/example/be/BeApplicationTests.java
  be/src/test/java/com/example/be/core/application/InitServiceTest.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentCreateTest.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentDeleteTest.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentDetailFindTest.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentFindAllTest.java
  be/src/test/java/com/example/be/core/application/assignment/AssignmentModifyTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogCreateTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogDeleteTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogDetailFindTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogFindAllTest.java
  be/src/test/java/com/example/be/core/application/speakinglog/SpeakingLogModifyTest.java
  be/src/test/java/com/example/be/core/application/study/StudyCreateTest.java
  be/src/test/java/com/example/be/core/application/study/StudyDeleteTest.java
  be/src/test/java/com/example/be/core/application/study/StudyFindAllTest.java
  be/src/test/java/com/example/be/core/application/study/StudyFindDetailTest.java
  be/src/test/java/com/example/be/core/application/study/StudyModifyTest.java
  be/src/test/java/com/example/be/core/web/InitControllerTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerCreateTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerDeleteTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerDetailFindTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerFindByTypeTest.java
  be/src/test/java/com/example/be/core/web/speakinglog/SpeakingLogControllerModifyTest.java
  be/src/test/java/com/example/be/core/web/study/InitStudyControllerTest.java
  be/src/test/java/com/example/be/core/web/study/StudyControllerCreatTest.java
  be/src/test/java/com/example/be/core/web/study/StudyControllerDeleteTest.java
  be/src/test/java/com/example/be/core/web/study/StudyControllerDetailFindTest.java
  be/src/test/java/com/example/be/core/web/study/StudyControllerFindByTypeTest.java
  be/src/test/java/com/example/be/core/web/study/StudyControllerModifyTest.java
  be/src/test/java/com/example/be/oauth/OAuthAccessTokenReIssueTest.java
  be/src/test/java/com/example/be/oauth/OAuthLoginIntegrationTest.java
  be/src/test/resources/application.yml
Labels: 📜 docs, 🐛 bug, 🧪 test, ♻️ refactor, 🚨 Emergency

#85 Goal, GoalMember Entity 작성
  be/src/main/java/com/example/be/core/domain/goal/Goal.java
  be/src/main/java/com/example/be/core/domain/goal/GoalMember.java
Labels: 🐣 feature
